/**
 * Start Global Values
 *
 * @format
 */

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
/* end Global Values */
/* Start Variables */
:root {
  --main-background-color: linear-gradient(
    171.18deg,
    #0f223c 10.6%,
    #101925 88.52%
  );
  /* --background-image: url(../Images/pattern.png); */
  --primary-color: #101925;
  --primary-2-color: #0f223c;
  --main-font-color: #58b3c8;
  --secondary-text-color: #e6e6e7;
  --radia-gradient: radial-gradient(
    310.49% 310.49% at 308.16% 126.24%,
    #58b3c8 0%,
    #101925 100%
  );
}
/* End Variables */
/* Start Component */
.background-color {
  background: var(--main-background-color);
  background-position: center;
}
/* End Component */
body {
  margin: 0;
  font-family: "Poppins", sans-serif;
  background-size: cover;
}
/* Start Header */
.navbar-toggler {
  color: var(--main-font-color);
  font-size: 30px;
}
.navbar-brand img {
  max-width: 195px;
}
.nav-link {
  color: var(--secondary-text-color);
  transition: 0.1s;
}
.nav-link:hover {
  color: var(--main-font-color);
  border-bottom: 1px solid var(--main-font-color);
}
button.btn.btn-primary {
  background-color: var(--main-font-color);
  border: none;
}
.Eng {
  color: var(--secondary-text-color);
}
/*End Header*/
/*Start Landing*/
.home-section {
  position: relative;
  display: flex;
  align-items: center;
  min-height: calc(10vh - 500px);
  margin-top: -0.9px;
  background: var(--main-background-color);
  z-index: 100;
}

  .background {
  display: inline-flex;
  text-align: center;
  }
  .background img{
  position: absolute;
  top: 0;
  left: 0;
  background-position: center;
  object-fit: cover;
  opacity: 0.25;
  width: 100%;
  height: 100%;
}
.home-section .container {
  width: 100%;
  height: 70vh;
}
.home-sectition h1{
  font-size: clamp(1.8rem, 4vw, 3rem);
  margin-bottom: 1rem;
}
.home-section .text-center {
  flex-basis: 60%;
  position: relative;
  z-index: 9;
}
.home-section .cube {
  flex-basis: 35%;
  position: relative;
  z-index: 1;
  text-align: end;
}
.home-section .cube img {
  max-width: 100%;
  text-align: end;
}
/*End Landing*/
/* Start about-us-section */
.about-us-section {
  background-color: var(--primary-color);
}
.about-us-section .content .text {
  flex-basis: 25%;
  letter-spacing: 1px;
}
.about-us-section  h3 {
  color: var(--main-font-color);
  font-weight: 700;
  font-size: 40px;
}
.about-us-section  p {
  color: var(--secondary-text-color);
  font-size: 18px;
  
}
.about-us-section  p span {
  font-weight: bold;
}
.about-us-section .pargh {
  flex-basis: 50%;
  line-height: 1.8;
}
/* End about-us-section*/
/* Start why-us-section*/
.why-us-section {
  position: relative;
  width: 100%;
  min-height: 30vh;
  background: var(--main-background-color);
  padding-top: 40px;
  padding-bottom: 40px;
}

.why-us-section .container-fluid {
  min-height: 30vh;
}
.why-us-section .img {
  max-width: 100%;
  position: relative;
}
.why-us-section .img::before {
  content: "";
  position: absolute;
  height: calc(100% + 200px);
  border: 2px solid var(--main-font-color);
  top: -20%;
  left: 48%;
  transform: translateX(-50%);
  width: calc(100% + 68px);
  border-radius: 41px;
  width: 60%;
  height: 350px;
}

.why-us-section .text {
  flex-basis: 45%;
  padding-top: 100px;
  position: relative;
  z-index: 7;
}
@media (min-width: 767px) and (max-width: 991px) {
  .why-us-section {
    padding-top: 120px;
  }
  .why-us-section .text {
    margin-top: 200px;
  }
}
@media (max-width: 375){
.why-us-section img{
    max-width: 196px;
}
}
.why-us-section h2 {
  color: var(--main-font-color);
  font-weight: 700;
  font-size: 40px;
}
.why-us-section  h4 {
  color: var(--secondary-text-color);
  font-weight: 600;
  font-size: 18px;
}
.why-us-section  ul {
  color: var(--secondary-text-color);
  margin-bottom: 5px;
}
.why-us-section .but {
  width: 100%;
}
.why-us-section .but button {
  border: none;
  font-size: 16px;
  font-weight: bold;
  color: var(--secondary-text-color);
  background: none;
}
.why-us-section .but i {
  display: flex;
  color: white !important;
  position: relative;
  z-index: 2;
  left: 89px;
  width: 14px;
  top: -20px;
}
@media (min-width: 992px){
  .why-us-section img{
    width: 50%;
  }
}
.why-us-section .but i{
  left: 202px;
  top: -20px;
}
  .background img{
  position: absolute;
  top: 0;
  left: 0;
  background-position: center;
  background-size: cover;
  opacity: 0.25;
  width: 100%;
  height: 100%;

}
@media (max-width: 767px) {
  .why-us-section .img::before {
    max-width: 70%;
  }
  .why-us-section {
    padding-top: 120px;
  }
}
@media (max-width: 991px) {
  .why-us-section .img::before {
    max-width: 65%;
    height: 167px;
  }
  .why-us-section .img img {
    max-width: 179px;
  }
}
@media (min-width: 375px) and (max-width: 546px) {
  .why-us-section {
    padding-top: 120px;
    padding-bottom: 60px;
  }
  .why-us-section .img img {
    max-width: 185px;
  }
  .why-us-section .img::before {
    max-width: 80%;
    max-height: 220px;
  }
}
/* End why-us-section */
/* Start Products-Section */
.products-section {
  min-height: 80vh;
  background-color: var(--primary-color);
  padding-top: 60px;
  padding-bottom: 80px;
}
.products-section .product-1 {
  background-color: #0e1520;
}
.products-section img {
  max-width: 100%;
}
.products-section p {
  color: white;
}
.sroducts-section .but {
  background-color: var(--main-font-color);
}
.products-section .but button {
  background: none;
  border: none;
  letter-spacing: 2px;
  color: var(--secondary-text-color);
  font-weight: 700;
}
.products-section h3 {
  color: var(--main-font-color);
}
/* End Products-Section */
/* Start Services Section*/
.services {
  width: 100%;
  position: relative;
  min-height: 30vh;
  background: var(--main-background-color);
}
.services .container {
  width: 100%;
  min-height: 40vh;
}
.services .text {
  position: relative;
  z-index: 5;
}
.services h2 {
  color: var(--main-font-color);
  font-weight: 700;
}
.services p {
  font-size: 36px;
}
.services .tog1 {
  position: relative;
  z-index: 6;
}
/* End Services Section */
/* Start vision Section*/
.vision {
  min-height: 30vh;
  padding: 60px;
  background-color: var(--primary-color);
}
.vision .container-fluid {
  min-height: 30vh;
}
.vision .text {
  min-height: 30vh;
}
.vision h3 {
  color: var(--main-font-color);
  font-size: 40px;
  font-weight: 700;
}
.vision p {
  color: var(--secondary-text-color);
  font-size: 18px;
  text-align: center;
  max-width: 50%;
}
@media (max-width: 991px) {
  .vision p {
    max-width: 100%;
  }
}
/* End vision Section*/
/* Start foc Section */
.focus-section {
  width: 100%;
  min-height: 50vh;
  background: var(--radia-gradient);
  position: relative;
}
.focus-section .background{
  width: 100%;
}
.focus-section .container-fluid {
  width: 100%;
  min-height: 50vh;

  padding-top: 10px;
  padding-bottom: 10px;
}
.focus-section .fts {
  flex-basis: 60%;
  padding: 60px;
  position: relative;
  z-index: 2;
}
.focus-section h2 {
  color: var(--main-font-color);
  font-weight: 900;
}
.focus-section p {
  color: var(--secondary-text-color);
}
.focus-section .ouvc-img {
  max-width: 100%;
}
.focus-section .container-fluid img {
  max-width: 45%;
}
.focus-section picture{
  width: 100%;
  text-align: center;
}
@media (max-width: 991px) {
  .focus-section img {
    max-width: 85%;
  }
}
/*  End foc Section */
/* Start some of our clients section */
.clients {
  min-height: 30vh;
  padding: 80px;
}
.clients .container-fluid {
  min-height: 30vh;
}
.clients .text {
  color: var(--secondary-text-color);
}
.clients .collab {
  min-height: 100%;
  width: 100%;
}
.clients img {
  max-width: 10%;
}
.carousel-item img {
  max-width: 15%;
  min-height: 10%;
}
.carousel-item {
  height: 30%;
}
/* End some of our clients section */
/* Start touch   Section*/
.contact {
  width: 100%;
  position: relative;
  min-height: 30vh;
  background: var(--main-background-color);
}

.contact .container {
  width: 100%;
  min-height: 30vh;
}
.contact .but {
  position: relative;
  z-index: 10;
}
.contact .but button {
  border: none;
  background-color: var(--main-font-color);
}
/* End touch Section*/
/* Start Footer Section */
.footer {
  height: 80vh;
  width: 100%;
  position: relative;
  background: var(--main-background-color);
  padding-top: 60px;
  padding-bottom: 60px;
}
.footer .container-fluid {
  height: 80vh;
}
.footer::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url(../Optimized_images/pattern\ 2.png);
  background-position: center;
  background-size: coverf;
  background-repeat: no-repeat;
  opacity: 0.1;
}
.footer .container-fluid {
  min-height: 80vh;
  max-width: 100%;
}
.intro {
  height: 80vh;
  width: 100%;
  flex-basis: 30%;
}
.intro ul {
  list-style-type: none;
  min-height: 100%;
  font-weight: 700;
  transition: 0.1s;
}
.intro ul li.active {
  color: var(--main-font-color);
}
.mo-map {
  height: 100%;
  flex-basis: 30%;
}
.contac {
  flex-basis: 30%;
}
.contac p span {
  font-weight: bold;
}
.contac .foot-contac label {
  font-size: 18px;
  font-weight: 700;
  letter-spacing: 2px;
}
.contac form textarea {
  position: relative;
  z-index: 5;
  border: none;
}
.contac button {
  border: none;
  background-color: var(--main-font-color);
  color: var(--secondary-text-color);
}
/* End Footer Section */
/* Start Register */
.registration-form {
  min-height: 92vh;
  /* Register page*/
}
.or {
  position: relative;
}
.registration-form .or::before {
  content: "";
  position: absolute;
  height: 1px;
  width: 15px;
  background-color: #6c757d;
  top: 50%;
  transform: translateY(-50%);
  left: 43%;
}
.registration-form .or::after {
  content: "";
  position: absolute;
  height: 1px;
  width: 15px;
  background-color: #6c757d;
  top: 50%;
  transform: translateY(-50%);
  right: 43%;
}
img.prof {
  max-width: 30px;
  max-height: 30px;
}
li.prof {
  top: 15px;
}
a.bg-focus:hover {
  background-color: var(--main-font-color);
}
.form-control:focus {
  box-shadow: none;
}
/*End Register page*/

/*
Start Products-Section-info section 
 */

.products-info {
  min-height: 92vh;
  background: var(--main-background-color);
}
.products-info .container .text h2 {
  font-weight: bolder;
  letter-spacing: 2px;
}
.products-info .container .text p {
  letter-spacing: 1px;
}
.image_product_dait {
  object-fit: contain; /*Ensures the image is fully visionble, without cropping */
  border-radius: 10px; /* Optional for rounded corners */
  height: 50vh;
  width: 60vw;
}
/* Start footer */
footer {
  background-color: var(--primary-2-color);
  padding-top: 20px;
  padding-bottom: 0;
  color: white;
  width: 100%;
}
footer a {
  color: #aaaaaa;
  text-decoration: none;
}
footer a:hover {
  color: white;
  text-decoration: underline;
}
.footer-links {
  list-style-type: none;
}
.footer-links > li{
  margin-bottom: 5px;
  margin: 0;
  padding: 0;
}
.footer-social {
  padding: 0;
}
.footer-social li {
  display: inline;
  margin-right: 10px;
}

footer .container .row > div{
  padding-top: 20px;
  padding-bottom: 20px;
}
/* End footer */
